<div class="container">
  <div class="container-left">
    <div class="container-left_content">
      <h2>CEAI</h2>
      <p>Bem-vindo ao sistema de gestão de dados do CEAI Rondon</p>
    </div>
  </div>

  <div class="form-login">
    <h3 class="form-login__header">Login</h3>

    <mat-form-field appearance="outline" class="form-login__field">
      <mat-label>Email</mat-label>
      <input matInput placeholder="usuario@email.com" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-login__field">
      <mat-label>Senha</mat-label>
      <input matInput placeholder="Senha" [type]="hide ? 'password' : 'text'" />
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint align="end" class="form-login_link">
        <a routerLink="#">Esqueci minha senha</a>
      </mat-hint>
    </mat-form-field>

    <button mat-button class="form-login__button btn-primary">Entrar</button>

    <button mat-button class="form-login__button btn-primary">
      <i class="fa fa-google fa-lg"></i>Ou entrar com o Google
    </button>

    <p>Não tem uma conta? <a routerLink="#" class="form-login__link">Cadastre-se</a></p>
  </div>
</div>
