<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
    <div class="container rounded d-flex align-items-center">
        <div class="row">
            <div class="col-md-7">
                <div class="row m-4 gy-5">
                    <div class="col-md-12">
                        <img src="../../../assets/img/Telecommuting-pana.svg" alt="">
                    </div>
                    <div class="col-md-12">
                        <h5 class="px-3">Bem-vindo ao sistema de gerenciamento de dados do <span>CEAI Rondon</span>.</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-5 p-3 d-flex align-items-center">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center mb-4">Login</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-4">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="exemplo@email.com">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-4">
                            <label for="password">Senha</label>
                            <input type="password" class="form-control" id="Password" placeholder="Senha">
                            <a>Esqueci minha senha</a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary w-100" (click)="goToAdmin()">
                            ENTRAR
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>