$primary: #0057AA;
$secondary: #FFD300;
$terciary: #3AABDD;


$blue4: #0057AA;
$blue3: #004989;
$blue2: #0F3C64;
$blue1: #002C42;
$blue5: #3AABDD;

$red: #ea2330;

$gray: #424242;
$gray2: #43454b;
$gray3: #555555;
