<div class="sidebar d-flex flex-column flex-shrink-0 p-3">
    <h3 class="ms-3">CEAI Rondon</h3>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a class="nav-link text-white" aria-current="page">
                <i class="bi bi-house me-2"></i> Home
            </a>
        </li>
        <li>
            <a class="nav-link text-white btn-toggle collapsed" data-bs-toggle="collapse"
                data-bs-target="#users-collapse" aria-expanded="false">
                <i class="bi bi-people me-2"></i> Usuários
            </a>
            <div class="collapse " id="users-collapse">
                <ul class="btn-toggle-nav list-unstyled pb-1 small ms-4">
                    <li class="mb-2 ps-3 ms-1"><a>Usuários cadastrados</a></li>
                    <li class="mb-2 ps-3 ms-1"><a>Cadastrar usuário</a></li>
                    <li class="mb-2 ps-3 ms-1"><a>Editar usuário</a></li>
                    <li class="mb-2 ps-3 ms-1"><a>Deletar usuário</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a class="nav-link text-white btn-toggle collapsed" data-bs-toggle="collapse"
            data-bs-target="#class-collapse" aria-expanded="false">
                <i class="bi bi-stack me-2"></i> Turmas
            </a>
            <div class="collapse" id="class-collapse">
                <ul class="btn-toggle-nav list-unstyled pb-1 small ms-4">
                    <li class="mb-2 ps-3 ms-1"><a>Turmas cadastrados</a></li>
                    <li class="mb-2 ps-3 ms-1"><a>Cadastrar turma</a></li>
                    <li class="mb-2 ps-3 ms-1"><a>Editar turma</a></li>
                    <li class="mb-2 ps-3 ms-1"><a>Deletar turma</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a class="nav-link text-white btn-toggle collapsed" data-bs-toggle="collapse"
            data-bs-target="#employee-collapse" aria-expanded="false">
                <i class="bi bi-person-badge me-2"></i> Servidores
            </a>
            <div class="collapse" id="employee-collapse">
                <ul class="btn-toggle-nav list-unstyled pb-1 small ms-4">
                    <li class="mb-2 ps-3 ms-1"><a>Servidores cadastrados</a></li>
                    <li class="mb-2 ps-3 ms-1"><a>Cadastrar servidor</a></li>
                    <li class="mb-2 ps-3 ms-1"><a>Editar servidor</a></li>
                    <li class="mb-2 ps-3 ms-1"><a>Deletar servidor</a></li>
                </ul>
            </div>
        </li>

    </ul>



    <!--ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#home-collapse" aria-expanded="true">
                Home
            </button>
            <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ">
                    <li><a href="#" class="link-dark rounded">Overview</a></li>
                    <li><a href="#" class="link-dark rounded">Updates</a></li>
                    <li><a href="#" class="link-dark rounded">Reports</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#dashboard-collapse" aria-expanded="false">
                Dashboard
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">Overview</a></li>
                    <li><a href="#" class="link-dark rounded">Weekly</a></li>
                    <li><a href="#" class="link-dark rounded">Monthly</a></li>
                    <li><a href="#" class="link-dark rounded">Annually</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#orders-collapse" aria-expanded="false">
                Orders
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">New</a></li>
                    <li><a href="#" class="link-dark rounded">Processed</a></li>
                    <li><a href="#" class="link-dark rounded">Shipped</a></li>
                    <li><a href="#" class="link-dark rounded">Returned</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#account-collapse" aria-expanded="false">
                Account
            </button>
            <div class="collapse" id="account-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">New...</a></li>
                    <li><a href="#" class="link-dark rounded">Profile</a></li>
                    <li><a href="#" class="link-dark rounded">Settings</a></li>
                    <li><a href="#" class="link-dark rounded">Sign out</a></li>
                </ul>
            </div>
        </li>
    </ul-->
</div>