@import "../../../assets/scss/__variables.scss";

.sidebar {
    width: 280px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: $primary;
    color: #fff;

    .active {
        font-weight: bold;
    }
}