/* You can add global styles to this file, and also import other style files */
@import "assets/scss/_variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Buttons*/
.btn {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  background: $primary !important;
  color: #fff;
  &:hover {
    background: #fff !important;
    color: $primary;
  }
}

.btn-secondary {
  background: $secondary !important;
  &:hover {
    background: #fff !important;
    color: $secondary;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
